@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-balance {
  text-wrap: balance;
}
